theme = "rose_pine"

# At most one section each of 'keys.normal', 'keys.insert' and 'keys.select'
[keys.normal]
C-s = ":w"
tab = ":buffer-next"
S-tab = ":buffer-previous"
J = ["extend_to_line_bounds", "delete_selection", "paste_after"]
K = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before",
]
H = "jump_view_left"
L = "jump_view_right"
g = { a = "code_action" }
"ret" = "goto_word"

[keys.normal.space]
f = ":format"
O = "file_picker"
o = "file_picker_in_current_directory"
x = ":buffer-close"
c = ":config-open"
C = ":config-reload"

[keys.insert.j]
k = "normal_mode"
l = "move_char_right"
h = "move_char_left"
# o = ["normal_mode", "open_below"]
# O = ["normal_mode", "open_above"]

[editor]
bufferline = "always"
completion-replace = false
line-number = "relative"
end-of-line-diagnostics = "hint"

[editor.cursor-shape]
insert = "bar"
select = "underline"

[editor.lsp]
display-inlay-hints = true

[editor.smart-tab]
enable = false

[editor.indent-guides]
render = true
character = "|" # Some characters that work well: "▏", "┆", "┊", "⸽"
skip-levels = 2

[editor.gutters]
layout = ["diff", "diagnostics", "line-numbers", "spacer"]
[editor.gutters.line-numbers]
min-width = 3

[editor.soft-wrap]
enable = true
max-wrap = 25
max-indent-retain = 80
wrap-indicator = ""

[editor.inline-diagnostics]
other-lines = "hint"
cursor-line = "warning" # show warnings and errors on the cursorline inline
