[[language]]
name = "python"
auto-format = true
injection-regex = "python"
language-servers = [
  "ruff",
  "pylsp"
]

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.ruff.config.settings.lint]
ignore = ["F841"]

[language-server.pylsp]
command = "pylsp"

[language-server.emmet-ls]
command = "bunx"
args = ["emmet-ls", "--stdio"]

[[language]]
name = "html"
injection-regex = "html"
language-servers = [
  "vscode-html-language-server",
  "emmet-ls"
]
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "jsx"
language-servers = [
  "typescript-language-server",
  "emmet-ls"
]

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "yamlfmt", args = ["-"] }

[[language]]
name = "sql"
language-servers = ["sqls"]

[language-server.sqls]
command = "bunx"
args = [
  "sql-language-server",
  "up",
  "--method",
  "stdio"
]

[[language]]
name = "java"
scope = "source.java"
injection-regex = "java"
file-types = ["java", "jav", "pde"]
roots = ["pom.xml", "build.gradle", "build.gradle.kts"]
language-servers = [ "jdtls" ]
indent = { tab-width = 2, unit = "  " }
comment-tokens = ["//"]
block-comment-tokens = { start = "/*", end = "*/" }

[language-server.jdtls.config]
bundles = ["/home/red/.sdkman/java-debug-0.53.1/com.microsoft.java.debug.plugin/target/com.microsoft.java.debug.plugin-0.53.1.jar"]


[language.debugger]
command = "java-debug"
name = "jdtls"
transport = "stdio"

[[language.debugger.templates]]
name = "Debug (Attach) - Remote"
request = "attach"
args = {hostName = "127.0.0.1", port = "5005"}
